@page "/ListadoRecursos"

@using BlazorApp1.Data
@using Model.Entidades
@inject RecursoService  ServicioRecurso
@inject NavigationManager navigation
@inject IJSRuntime JsRuntime


<h1>Listado de Recursos</h1>

<button type="button" class="btn btn-primary" @onclick="()=>Editar(0)">Nuevo</button>

@if (recurso == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>

                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var f in recurso)
            {
                <tr>
                    <td>@f.Id</td>
                    <td>@f.Nombre</td>

                    <td><button type="button" class="btn btn-success" @onclick="()=>Editar(f.Id)">Editar</button> <button type="button" class="btn btn-danger" @onclick="()=>Borrar(f.Id)">Borrar</button></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    


    private List<Recurso> recurso;

    protected override async Task OnInitializedAsync()
    {
        recurso = await ServicioRecurso.GetAll();
    }

    protected void Editar(int id)
    {
        navigation.NavigateTo("/EditarRecurso/" + id);
    }

    async Task Borrar(int id)
    {
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Desea elimiar a este recurso?");
        if (confirmed)
        {
            await ServicioRecurso.Remove(id);
            recurso = await ServicioRecurso.GetAll();
        }
    }
}